* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: #f5f7fa;
    color: #000000;
}

header {
    background-color: #750512;
    color: #f6f1f1;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

main {
    color: white;
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
}

section {
    background-color: #e80707;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h2 {
    margin-top: 0;
    color: #ffffff;
}

ul {
    padding-left: 20px;
}

a {
    color: #b31b1b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #750512;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
